// styles in src/style directory are applied to the whole page

@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

body {
  background: #eee;
  color: #222;

  font: 12pt/1.44em 'Roboto', sans-serif;
}

main {
  margin: 1em auto;
  width: 80vw;

  .title {
    text-align: center;
  }
}

a {
  color: #05f;
}
